/* Mobile First Approach */
#container {
    width: 100%;
}
header {
    background-color: #333333;
    color: #EFEFEF;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 18px;
}
aside {
    margin-bottom: 16px;
}
section {
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.card {
    margin-bottom: 10px;
}
.card:last-child {
    margin-bottom: 0;
}
.colorBar {
    width: 2%;
    height: 30px;
    float: left;
}
.colorBar.one {
    background-color: #6F98A8;
}
.colorBar.two {
    background-color: #2B8EAD;
}
.colorBar.three {
    background-color: #2F454E;
}
.colorBar.four {
    background-color: #2B8EAD;
}
.colorBar.five {
    background-color: #2F454E;
}
.colorBar.six {
    background-color: #BFBFBF;
}
.colorBar.seven {
    background-color: #BFBFBF;
}
.colorBar.eight {
    background-color: #6F98A8;
}
.colorBar.nine {
    background-color: #2F454E;
}

.number {
    width: 98%;
    height: 30px;
    line-height: 30px;
    float: right;
    background-color: #EFEFEF;
}
button {
    padding: 12px 32px;
    background-color: #72C3DC;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    box-shadow: 0 4px #2B8EAD;
}
button:hover {
    cursor: pointer;
}
footer {
    font-size: 12px;
}
.textAlign {
    text-align: center;
}
.marginBottom {
    margin-bottom: 10px;
}
/* Below are for Screen width >= 960px */
@media only screen and (min-width:960px) {
    #container {
        background-color: #EFEFEF;
    }
    header {
        background-color: #FFFFFF;
        color: #333333;
    }
    button {
        width: 150px;
        display: block;
        margin-bottom: 10px;
        margin-top: 40px;
        margin-right: 60px;
    }
    section {
        display: grid;
        height: 550px;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: auto auto auto;
    }
    .colorBar {
        display: none;
    }
    .card, .number {
        display: inline;
        float: none;
        padding: 30px 0;
        font-size: 80px;
        text-align: center;
        color: #EFEFEF;
    }
    .number {
        background-color: transparent;
    }
    .card {
        margin-bottom: 0;
    }
    aside {
        float: right;
    }
    main {
        float: left;
    }
    .card.one {
        background-color: #6F98A8;
    }
    .card.two {
        background-color: #2B8EAD;
    }
    .card.three {
        background-color: #2F454E;
    }
    .card.four {
        background-color: #2B8EAD;
    }
    .card.five {
        background-color: #2F454E;
    }
    .card.six {
        background-color: #BFBFBF;
    }
    .card.seven {
        background-color: #BFBFBF;
    }
    .card.eight {
        background-color: #6F98A8;
    }
    .card.nine {
        background-color: #2F454E;
    }
}